HalloWCF.Host/HalloWCF.Client/Connected Services/ServiceReference1/HalloWCF.Host.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HalloWCF.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HalloWCF.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBääääh">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bääääh" nillable="true" type="tns:Bääääh" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBääääh" nillable="true" type="tns:ArrayOfBääääh" />
  <xs:complexType name="Bääääh">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlubAnzahl" type="xs:int" />
      <xs:element minOccurs="0" name="Hihihihih" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bääääh" nillable="true" type="tns:Bääääh" />
</xs:schema>